.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 60px;
    overflow: auto;
}

.searching {
    width: 100%;
    height: 100%;
}

.empty-search-container {
    width: 100%;
    height: 100%;
    text-align: center;
}

.empty-search {
    position: relative;
    margin-top: 50%;
    font-size: 2rem;
}

.item {
    display: inline-block;
    width: 350px;
    height: 36px;
    margin: 20px;
    cursor: pointer;
}