<div class="about-wrapper">
  <div class="about dark-text">
    <h1>About This Project</h1>
    <p>
    This is a UI port of a project I had done previously. The original project was 
    built using Knockout, and I did this port as a deep dive into Angular 2.
    </p>
    <h2>The Original Project</h2>
    <p>
    The purpose of the original project was to have a full stack app done in as little 
    time as possible. It was built using Microsoft SQL Server, Node.js and Knockout. It 
    was completed in about 40 hours (over three weeks, working in my spare time).
    </p>
    <p>
      The original project can be found here: <a href="http://reitzdesigns.com/apps/craft/">GW2 Craft Utility (original)</a>
    </p>
    <h2>UI Port</h2>
    <p>
      As I mentioned, this is a learning project to get in and work with Angular 2. I have 
      years of experience with Knockout, and am now making the transition to Angular.
    </p>
    <p>
      This port took me about three days, with two days of studying Angular 2. 
    </p>
  </div>
</div>
