aside {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    border-right: 1px solid black;
}

article {
    position: absolute;
    left: 200px;
    top: 0;
    right: 0;
    bottom: 0;
}